.modal-header {

    .message {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: cursive;
        font-weight: bold;
        font-size: 18px;
        // padding: 20px;
    }

}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 200px;
    }
}