/* You can add global styles to this file, and also import other style files */
*{
    min-height: 100%;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
  }